* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
    font-size: 1.4rem;
    color: white;
    background-color:  #353C51;
}

#root {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%; 
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.wrapper h1, .wrapper h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #7dcfb6;
}

.wrapper h5 {
    font-size: 1.1rem;
}

.prevent-message {
    background-color: #DC143C;
    padding: 10px;
    border-radius: 4px;
    margin-top: 40px;
    max-width: 1000px;
}

.prevent-message h3 {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.prevent-message .description {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
}

.prevent-message .symptoms {
    list-style: inside;
    margin-bottom: 5px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 5px;
    width: 100%
}

#select-country {
    border-radius: 3px;
    width: 32%;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 1.3rem;
}

#select-country option {
    font-size: 1.3rem;
}

.line-chart {
    width: 100%;
    height: 1500px;
}

@media screen and (min-width: 481px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}   

@media screen and (min-width: 769px) {

}
